{% extends 'base.html' %}
{% block title %}Welcome our community{% endblock title %}
{% load static %}
{% block content %}
    <section id="recent-blog-posts" class="recent-blog-posts">
        <div class="container">
            <div class="row">
            {% for collection in collections %}
            <div class="col-md-12 p-2 mb-2 rounded-1  bg-secondary text-white">
                <span class="me-3" >{{ collection.slug }}</span>
                <a class="btn btn-primary me-2" href="{% url 'detail' collection.slug %}">Views</a>
                <a class="btn btn-danger" href="{% url 'delete-collection' collection.slug %}">Remove</a>
            </div>
            {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}